htmlcov/
.coverage
.project
.pydevproject
__pycache__/
.cache/
/responses/
/solutions/rejected_*.txt
/solutions/solution_db.txt
/production/SOLUTION.png
/production/stderr.txt
/production/tmp/
/production/solution_runner_stable.py
